<div class="jumbotron text-center">
    <h1>Sleep Details</h1>
    <ul class="list-group">
        <li class="list-group-item">Name: {{ user.fullName }}</li>
        <li class="list-group-item">Total Minutes Asleep: {{ sleep.totalMinutesAsleep }}</li>
        <li class="list-group-item">Total Sleep Records: {{ sleep.totalSleepRecords }}</li>
        <li class="list-group-item">Total Time In Bed: {{ sleep.totalTimeInBed }}</li>
        <li class="list-group-item" style="text-overflow:ellipsis;overflow:hidden;">Access Token: {{ user.accessToken }}</li>
        <li class="list-group-item" style="text-overflow:ellipsis;overflow:hidden;">Refresh Token: {{ user.refreshToken }}</li>
    </ul>

</div>